@{ViewBag.Title = "Anthony Nichols - IoC Example Project";}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>Create Plan</title>
    </head>
    <body>
        <div>Plan ID: @ViewData["PlanID"]</div>
        <div>Name: @ViewData["PlanName"]</div>        
    </body>
</html>